<button *ngIf="hideTen; else showTen" (click)="hideTenKms()">
  Hide 10 kms
</button>
<ng-template #showTen>
  <button (click)="hideTenKms()">Show 10 kms</button>
</ng-template>
&nbsp;
<button (click)="exportToXls()">Export as xls</button>
&nbsp;
<label *ngIf="latLngText">Lat Lng Alt: {{ latLngText }}</label>

<!-- <button *ngIf="showId; else showIdTags" (click)="showIds()">Show Name's</button>
<ng-template #showIdTags>
  <button (click)="showIds()">Show Id's</button>
</ng-template> -->
<agm-map
  #agmMap
  [latitude]="latti"
  [longitude]="longi"
  [mapTypeId]="'hybrid'"
  [mapTypeControl]="true"
  (mapReady)="mapReady($event)"
  (zoomChange)="zoomChange($event)"
>
  <ng-container *ngFor="let path of allZonePaths; let i = index">
    <agm-polygon
      [id]="'polygon' + i"
      [paths]="path"
      [strokeColor]="StrokeColor"
      [visible]="true"
      [strokeWeight]="2"
      [fillColor]="hoveredNo == i ? 'white' : '#FFFFFF00'"
      (polyClick)="polygonClicked($event, i)"
      (polyMouseOver)="setMouseOver(i, infoWindow)"
      (polyMouseOut)="setMouseOut(infoWindow)"
    >
    </agm-polygon>

    <agm-marker
      [iconUrl]="upIcon"
      [latitude]="latCenter"
      [longitude]="lngCenter"
      [visible]="isVisibleMarker"
      [animation]="animation"
      [markerClickable]="false"
      [agmFitBounds]="false"
    >
      <agm-info-window [disableAutoPan]="false" #infoWindow>
        <span>{{ allTempProps[i][2] }}</span>
      </agm-info-window>
    </agm-marker>
  </ng-container>

  <ng-container>
    <!-- Yellow Lat Lngs -->
    <ng-container *ngFor="let latLng of yellowLatLngs; let i = index">
      <agm-marker
        [iconUrl]="icon"
        [latitude]="latLng[0]"
        [longitude]="latLng[1]"
      >
        <agm-info-window>
          <strong *ngIf="showId; else showNames">{{ latLng[2] }}</strong>
          <ng-template #showNames>
            <strong>{{ latLng[3] }},&nbsp;{{ latLng[4] }}</strong>
          </ng-template>
        </agm-info-window>
      </agm-marker>
      <agm-circle
        class="circle"
        [latitude]="latLng[0]"
        [longitude]="latLng[1]"
        [radius]="distanceInMeters"
        [strokeWeight]="hideTen ? 0 : strokeWeight"
        [strokeColor]="strokeYellow"
        [fillColor]="circleWhite"
        [fillOpacity]="0.2"
        [clickable]="false"
      >
      </agm-circle>
      <agm-circle
        *ngIf="hideTen"
        [latitude]="latLng[0]"
        [longitude]="latLng[1]"
        [radius]="10000"
        [strokeWeight]="strokeWeight"
        [strokeColor]="strokeYellow"
        [fillColor]="circleWhite"
        [fillOpacity]="0.1"
        [clickable]="false"
      >
      </agm-circle>
    </ng-container>

    <!-- Blue Lat Lngs -->
    <ng-container *ngFor="let latLng of blueLatLngs; let i = index">
      <agm-marker
        [iconUrl]="icon"
        [latitude]="latLng[0]"
        [longitude]="latLng[1]"
        (markerClick)="markerClicked($event, i)"
        [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event, i)"
      >
        <agm-info-window>
          <strong *ngIf="showId; else showNames">{{ latLng[0] }}</strong>
          <ng-template #showNames>
            <strong>{{ latLng[0] }},&nbsp;{{ latLng[1] }}</strong>
          </ng-template>
        </agm-info-window>
      </agm-marker>
      <agm-circle
        [latitude]="latLng[0]"
        [longitude]="latLng[1]"
        [radius]="distanceInMeters"
        [strokeWeight]="hideTen ? 0 : strokeWeight"
        [strokeColor]="strokeBlue"
        [fillColor]="circleBlue"
        [fillOpacity]="0.7"
        [clickable]="false"
      >
      </agm-circle>
      <agm-circle
        *ngIf="hideTen"
        [latitude]="latLng[0]"
        [longitude]="latLng[1]"
        [radius]="10000"
        [strokeWeight]="strokeWeight"
        [strokeColor]="strokeBlue"
        [fillColor]="circleBlue"
        [fillOpacity]="0.5"
        [clickable]="false"
      >
        <!-- [circleDraggable]="true"
        (dragEnd)="markerDragEnd($event, i)" -->
      </agm-circle>
    </ng-container>

    <!-- Orange Lat Lngs -->
    <ng-container *ngFor="let latLng of orangeLatLngs; let i = index">
      <agm-marker [latitude]="latLng[0]" [longitude]="latLng[1]">
        <agm-info-window>
          <strong *ngIf="showId; else showNames">{{ latLng[2] }}</strong>
          <ng-template #showNames>
            <strong>{{ latLng[3] }},&nbsp;{{ latLng[4] }}</strong>
          </ng-template>
        </agm-info-window>
      </agm-marker>
      <agm-circle
        [latitude]="latLng[0]"
        [longitude]="latLng[1]"
        [radius]="distanceInMeters"
        [strokeWeight]="strokeWeight"
        [strokeColor]="strokeOrange"
        [fillColor]="circleOrange"
        [fillOpacity]="0.2"
        [clickable]="false"
      >
      </agm-circle>
      <agm-circle
        *ngIf="!hideTen"
        [latitude]="latLng[0]"
        [longitude]="latLng[1]"
        [radius]="10000"
        [strokeWeight]="!hideTen ? 0 : strokeWeight"
        [strokeColor]="strokeOrange"
        [fillColor]="circleOrange"
        [fillOpacity]="0.1"
        [clickable]="false"
      >
      </agm-circle>
    </ng-container>
  </ng-container>
</agm-map>
